SetEnv APPLICATION_ENV development
SetEnvIf Request_URI ^/api noauth=1

Order Deny,Allow
Allow from env=noauth
Deny from all
Satisfy any

AuthType Basic
AuthName "View Statistics"
AuthUserFile C:/xampp/htdocs/Webanalyzer/public/.htpasswd
Require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?url=$1 [L,PT]